# Flask
FLASK_SECRET_KEY=your-secret-key-here
FLASK_ENV=dev

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname

# Facebook Messenger
FB_APP_SECRET=your-facebook-app-secret
EIR_FB_ACCESS_TOKEN=your-facebook-token-here
VERIFY_TOKEN=
PAGE_ID=

# Telegram
EIR_TELEGRAM_TOKEN=your-bot-token-here

# optional
# Admin, to notify if there are issues sending notifications or check any team
ADMIN=conventus-username-of-user-handling-admin

# required for production (FLASK_ENV=production or FLASK_ENV=prod)
SECRET_KEY=app_secret_key
