<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjem — Eir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='doc_styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='eir_favicon.ico') }}" />
</head>
<body>
    <div class="container">
        <h1>Eir</h1>
        <p class="updated">Last updated: 28. august 2026</p>

        <p class="intro">Eir er et værktøj, der bruges af trænere hos Greve Gymnastik og Trampolin (GGT) til at administrere holdindtjekninger, udtjekninger og relateret holdadministration.</p>

        <h3>Vælg din login</h3>
        <p><a href="{{ url_for('login_c') }}" type="submit">{{ t('app.coach_login_title') }}</a></p>
        <p><a href="{{ url_for('login_m') }}" type="submit">{{ t('app.member_login') }}</a></p>

    </div>
    <footer class="container">
        <hr />
        <p>Ejer: Lisa Gay Hansen
        <br />Kontakt: <strong><span id="contact"></span></strong>
        <br /><a href="{{ url_for('privacy_policy') }}">Privatlivspolitik</a></p>
        <script>
            // Decodes "privacy@yourdomain.com" dynamically on page load
            const encoded = "ZWlyQGFtZXJpY2FrZXMuZGs="; 
            const email = atob(encoded);
            const container = document.getElementById("contact");
            container.innerHTML = `<a href="mailto:${email}">${email}</a>`;
        </script>
    </footer>
</body>
</html>