<!DOCTYPE html>
<html lang="{{ t('app.lingua') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t('app.member_menu') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='eir_favicon.ico') }}" />
</head>
<body class="center-it">
    <div class="menu-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message | safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h2>{{ t('app.welcome', user=name) }}</h2>
        <p>{{ t('app.what_to_do') }}</p>
        <hr>
        <a href="{{ url_for('member_calendar') }}" class="btn">{{ t('app.calendar') }}</a>
        <a href="{{ url_for('member_signout', member_id=member_id, date=date) }}" class="btn">{{ t('app.member_signoutin_title') }}</a>
        {% if switchable %}
        <a href="{{ url_for('member_profile_select', member_id=member_id) }}" class="btn">{{ t('app.switch_profiles') }}</a>
        {% endif %}
        {% if trampolinist %}
        <a href="{{ url_for('trampolinists', member_id=member_id, name=name) }}" class="btn">{{ t('app.view_your_skills') }}</a>
        {% endif %}
        <a href="{{ url_for('logout_m') }}" class="btn-red">{{ t('app.log_out') }}</a>
    </div>
</body>
</html>